/*************** COMMON/CONTAINER *****************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(37, 36, 36);
}


/************* HEADER *************/





/************* MAIN *************/
.contenitore{
    display: flex;
    margin: 1rem;
}

.card{
    width: calc(100% / 6 - 2rem);
    text-align: center;
    color: beige;
    margin: 1rem;

}

p{
    font-size: 1.4rem;
}

img{

    width: 100%;
}



/************* FOOTER *************/





/************* RESPONSIVE *************/
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 576px) {
 
}